* {
  font-family: "Cambria";
  margin: 0;
  padding: 0;
  color: #000;
}

.header {
  padding: 20px;
  padding-left: 60px;
  /* box-shadow: 0 1px 1px #00000093; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.abc {
  display: inline-block;
  padding-right: 20px;
  font-size: 1em;
  margin-left: 50px;
  text-align: center;
  justify-content: center;
}

.btn {
  border: 1px solid #000;
  border-radius: 20px;
  width: 250px;
  height: 50px;
  font-size: 20px;
}

.nav {
  display: flex;
}

.left-panel {
  width: 40%;
  height: 400px;
  background-color: burlywood;
  color: white;
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}
.right-panel {
  width: 60%;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
}

.hero {
  background: #f9f9f9;
  padding: 60px 20px;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.hero-text p {
  margin-bottom: 20px;
}

.consultation-btn {
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}
